{% extends 'base.html' %} {% block title %}Profile | {% endblock title %} <br />
{% block body %} {% load static %}
<section class="user-profile section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="sidebar">
          <!-- User Widget -->
          <div class="widget user">
            <!-- User Image -->
            <div class="image d-flex justify-content-center">
              {% if data.user_image == '' %}
              <img
                src="{% static 'images/account/person-circle.svg' %}"
                alt="Avatar"
              />
              {% else %}
              <img src="{{data.user_image.url}}" alt="Avatar" />
              {% endif %}
            </div>
            <!-- User Name -->
            <h5 class="text-center">{{data.get_full_name}}</h5>
            <div class="text-center">
              <a href="{% url 'dashboard' user.uid %}" class="btn btn-main-sm"
                ><i class="bi bi-arrow-left"></i> Back to Dashboard</a
              >
            </div>
          </div>
          <!-- Dashboard Links -->
          {% comment %}
          <div class="widget user-dashboard-menu">
            <ul>
              <li><a href="index.html">Savings Dashboard</a></li>
              <li>
                <a href="index.html">Saved Offer <span>(5)</span></a>
              </li>
              <li>
                <a href="index.html">Favourite Stores <span>(3)</span></a>
              </li>
              <li><a href="index.html">Recommended</a></li>
            </ul>
          </div>
          {% endcomment %}
        </div>
      </div>
      <div class="col-lg-8">
        <!-- Edit Profile Welcome Text -->
        <div class="widget welcome-message">
          <h2>Edit profile</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation
          </p>
        </div>
        <!-- Edit Personal Info -->
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="widget personal-info">
              <h3 class="widget-header user">Edit Personal Information</h3>
              <form
                enctype="multipart/form-data"
                method="post"
                action="{% url 'profilePersonalUpdate' user.uid %}"
              >
                {% csrf_token %}
                <!-- First Name -->
                <div class="form-group">
                  <label for="first-name">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="first-name"
                    value="{{data.first_name}}"
                    name="firstName"
                  />
                </div>
                <!-- Last Name -->
                <div class="form-group">
                  <label for="last-name">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="last-name"
                    value="{{data.last_name}}"
                    name="lastName"
                  />
                </div>
                <!-- File chooser -->
                <div class="form-group choose-file d-inline-flex">
                  {% if data.user_image %}
                  <img
                    src="{{ user.user_image.url }}"
                    style="width: 2rem; margin: 8px"
                    alt="Profile"
                    class="rounded-circle"
                  />
                  {% else %}
                  <i class="fa fa-user text-center px-3"></i>
                  {% endif %}
                  <input
                    type="file"
                    class="form-control-file mt-2 pt-1"
                    id="input-file"
                    value="{{data.user_image}}"
                    name="profilePicture"
                    accept="image/x-png,image/gif,image/jpeg"
                  />
                </div>
                <!-- Comunity Name -->
                {% comment %}
                <div class="form-group">
                  <label for="comunity-name">Comunity Name</label>
                  <input type="text" class="form-control" id="comunity-name" />
                </div>
                {% endcomment %}
                <!-- Checkbox -->
                {% comment %}
                <div class="form-check">
                  <label class="form-check-label" for="hide-profile">
                    <input
                      class="form-check-input mt-1"
                      type="checkbox"
                      value=""
                      id="hide-profile"
                    />
                    Hide Profile from Public/Comunity
                  </label>
                </div>
                {% endcomment %}
                <!-- Submit button -->
                <button type="submit" class="btn btn-transparent">
                  Save My Changes
                </button>
              </form>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <!-- Change Password -->
            <div class="widget change-password">
              <h3 class="widget-header user">Edit Password</h3>
              <form action="#">
                <!-- Current Password -->
                <div class="form-group">
                  <label for="current-password">Current Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="current-password"
                  />
                </div>
                <!-- New Password -->
                <div class="form-group">
                  <label for="new-password">New Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="new-password"
                  />
                </div>
                <!-- Confirm New Password -->
                <div class="form-group">
                  <label for="confirm-password">Confirm New Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="confirm-password"
                  />
                </div>
                <!-- Submit Button -->
                <button class="btn btn-transparent">Change Password</button>
              </form>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <!-- Change Email Address -->
            <div class="widget change-email mb-0">
              <h3 class="widget-header user">Edit Email Address</h3>
              <form action="#">
                <!-- Current Password -->
                <div class="form-group">
                  <label for="current-email">Current Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="current-email"
                    placeholder="{{data.email}}"
                    disabled
                  />
                </div>
                <!-- New email -->
                <div class="form-group">
                  <label for="new-email">New email</label>
                  <input type="email" class="form-control" id="new-email" />
                </div>
                <!-- Submit Button -->
                <button class="btn btn-transparent">Change email</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
